<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Prediction</title>

    <!-- Bootstrap Style -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <!--CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#"><i class="bi bi-person-circle"></i>Employee Loyalty Prediction</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Classification</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ url_for('regression') }}">Regression</a>
                    </li>
                    <!-- Add more navbar items as needed -->
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <form action="/" method="post">
            <label for="Education">Education:</label>
            <select id="Education" name="Education">
                <option value="Bachelors">Bachelors</option>
                <option value="Masters">Masters</option>
                <option value="PHD">PHD</option>
            </select>

            <label for="JoiningYear">Joining Year:</label>
            <input type="number" id="JoiningYear" name="JoiningYear" required>

            <label for="PaymentTier">Salary Grade:</label>
            <select id="PaymentTier" name="PaymentTier">
                <option value="1">1 (Highest)</option>
                <option value="2">2</option>
                <option value="3">3 (Lowest)</option>
            </select>

            <label for="Age">Age:</label>
            <input type="number" id="Age" name="Age" required>

            <label for="Gender">Gender:</label>
            <select id="Gender" name="Gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>

            <label for="EverBenched">Work Idling:</label>
            <select id="EverBenched" name="EverBenched">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>

            <label for="ExperienceInCurrentDomain">Work Experience (Years):</label>
            <input type="number" id="ExperienceInCurrentDomain" name="ExperienceInCurrentDomain" required>

            <button type="submit">Predict</button>
        </form>

        <div id="res" {% if prediction %}style="display: block;" {% else %}style="display: none;" {% endif %}>
            {% if prediction == 'Leave' %}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Likely Leaving ⚠️</h4>
                <p>It seems like the employee is most likely leaving.</p>
                <hr>
                <p class="mb-0">Take appropriate actions to address this situation.</p>
            </div>
            {% elif prediction == 'Not' %}
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Likely Staying ✅</h4>
                <p>The employee is most likely staying. Good news!</p>
                <hr>
                <p class="mb-0">Continue providing a positive work environment.</p>
            </div>
            {% else %}
            <!-- Handle the case when the prediction is unknown or other value -->
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Unclear</h4>
                <p>We couldn't make a prediction at the moment.</p>
                <hr>
                <p class="mb-0">Lack of data.</p>
            </div>
            {% endif %}
        </div>

    </div>

</body>

</html>